p {
	margin: 5px 20px
}
.github{
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0;
}
.navbar .container{
	text-align: center;
}
.navbar .brand {
	float: center;
}
.container {
	width: auto;
}
.inputArea {
	text-align: center;
}
.messageArea {
	width: auto;
}
.title {
	text-align: center;
}
.messageP{
	width: 50%;
	float: left;
}
.messageN{
	width: 50%;
	float: right;
}