doctype 5
html
  head
    title= 'Classify Your Thought'
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/css.css')
    block scripts
      script(src='/javascripts/jquery-1.9.1.js')
      script(src='/javascripts/bootstrap.js')
  body
    block content