p 
  margin 5px 20px

.github
  position absolute 
  top 0 
  left 0 
  border 0

.container 
  width auto
  margin 10px 10px

.inputArea 
  text-align center
  vertical-align middle

#classify
  margin-top -10px

.messageArea 
  width auto

.title 
  text-align center

.messageP
  width 50%
  float left

.messageN
  width 50%
  float right

.tweet
  margin 20px 0

table
  width 95%
  border 0

.img
  width 12%
  vertical-align top

.time
  text-align right

